body{
	background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%) no-repeat center center fixed;
}

p{
	margin: 0;
}

.title{
	color: #2c4da5;
	font-size: 50px;
	text-align: center;
}

.container{
	width: 60%;
	margin: 35px auto;
	padding: auto 20px;
}

.btn{
	color: white;
	background: #c9167a;
	font-weight: bold;
	margin: 20px auto;
	padding: 15px 15px;
	border: 1px solid #c9167a;
	border-radius: 20px;
	outline: none;
	float: right;
	font-size: 15px;
}

.user{
	display: inline;
	font-weight: bold;
}

.message{
	display: inline;
	font-family: "Roboto", sans-serif;
}

.dateTime{
	margin-left: 10px;
	color: gray;
}

