body{
	background: rgb(56, 77, 112);
}

p{
	margin: 0;
}

.container{
	width: 75%;
	border: 5px solid black;
	margin: 35px auto;
	padding: 20px 20px
}

.btn{
	margin: 15px auto;
}

.user{
	font-weight: bold;
}

.message{
	display: inline;
}

.dateTime{
	margin-left: 10px;
	color: gray;
}

